@font-face {
    font-family: Gilroy;
    src: url("fonts/gilroy-medium.otf") format("opentype");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url("fonts/gilroy-semibold.otf") format("opentype");
}

html { scroll-behavior: smooth; }

.pill-btn {
  /* background-color: #ddd; */
  border: none;
  /* color: black; */
  padding: .375rem .75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
	font-family: 'Gilroy'!important
}

.pill-btn.btn-lg {
	font-size: 17px;
}

.btn-ash{color:#fff; background-color: #444DFF; border-color: initial}
.btn-ash:hover{color:#fff; background-color: #5961FF; text-decoration: none; border-color: initial}

.btn-primary{color:#fff;background-color:#0088ff;border-color:#0088ff}

.btn-hex{color:#fff;background-color:#ff7700;border-color:#ff7700}
.btn-hex:hover{color:#fff;background-color:#cc5f00;border-color:#cc5f00}
.btn-hex:focus,.btn-hex.focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}

.btn-outline-hex{color:#ff7700;background-color:transparent;background-image:none;border-color:#ff7700}
.btn-outline-hex:hover{color:#fff;background-color:#ff7700;border-color:#ff7700}
.btn-outline-hex:focus,.btn-outline-hex.focus{box-shadow:0 0 0 .2rem rgba(0,128,128,0.5)}

.hex-bg {
	background-image: linear-gradient(225deg, rgba(20, 30, 86, 0.78), #50888a);
	background-color: #5c6bc0;
}

.main-bg {
	background-image: linear-gradient(125deg, rgba(20, 30, 86, 0.78), #50888a);
	background-color: #5c6bc0;
}

.elec-bg {
  background-image: linear-gradient(225deg, rgba(20, 30, 86, 0.78), #50888a), url("electrician-phone.png");
  background-color: #0d1542;
}

.ash-bg {
	background-image: linear-gradient(90deg,rgba(255,255,255,0.91) 0%,rgba(255,255,255,0.32) 100%),url("Hero-bg2-1.jpg")!important;
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;
	height: auto;
}

.main-link {
	font-size: larger;
}

.main-link-right {
	text-align: right;
}
.main-link-left {
	text-align: left;
}

.main-text {
	padding-top: 12vh;
	font-size:6.8vw;
	max-width: 659px;
	font-family: 'Gilroy'!important;
	line-height: 1.2em;
}

.blurb-text {
	font-size: 3.3vw;
	font-family: 'Gilroy'!important;
	line-height: 1.2em;
}

.hero-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* For width 770px and larger: */
@media only screen and (min-width: 770px) {

	.main-text {
		font-size:6.3vw;
		padding-top: 12vh;
	}

	.blurb-text {
		font-size: 22px;
	}

	.pill-btn.btn-lg {
		font-size: 1.25rem;
	}

	.ash-bg {
		background-image: linear-gradient(90deg,rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.32) 100%),url("Hero-bg2-1.jpg")!important;
	}

  .elec-bg {
    background-image: linear-gradient(225deg, rgba(20, 30, 86, 0.78), #50888a), url("electrician-2.png");
    background-color: #0d1542;
  }

	.main-link {
		font-size: x-large;
	}

	.main-link-right {
		text-align: inherit;
	}
	.main-link-left {
		text-align: inherit;
	}
}

/* For width 900px and larger: */
@media only screen and (min-width: 980px) {
  .hero-box {
    padding-top: unset;
    padding-bottom: unset;
  }

	.main-text {
		font-size:60px;
		padding-top: 17vh!important;
	}

	.ash-bg {
		height: 83vh;
		background-image: linear-gradient(90deg,rgba(255,255,255,0.16) 0%,rgba(255,255,255,0) 100%),url("Hero-bg2-1.jpg")!important;
    background-size: contain;
	}
}

*:not(.fa){
  font-family: Lato;
}

  .logo {
    height: 37px;
    margin-left: 17px;
  }

.btn-light-override:hover {
  color: #212529!important;
}

.numberCircle {
    display:inline-block;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
}

.numberCircle:before,
.numberCircle:after {
    content:'\200B';
    display:inline-block;
    line-height:0px;

    padding-top:50%;
    padding-bottom:50%;
}

.numberCircle:before {
    padding-left:8px;
}
.numberCircle:after {
    padding-right:8px;
}

.footer-logo {
  display: block;
  height: 50px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.footer-title {
  display: block;
  width: 420px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 22px;
}

.footer-nav-wrapper {
  margin-top: 40px;
}

.footer-nav-link {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-link:hover {
  color: #46ca9b;
  text-decoration: underline;
}

.footer-top-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 8px;
  background-image: -webkit-linear-gradient(90deg, #46ca9b, #5c6bc0 50%, #ab47bc 92%);
  background-image: -moz-linear-gradient(90deg, #46ca9b, #5c6bc0 50%, #ab47bc 92%);
  background-image: -ms-linear-gradient(90deg, #46ca9b, #5c6bc0 50%, #ab47bc 92%);
  background-image: -o-linear-gradient(90deg, #46ca9b, #5c6bc0 50%, #ab47bc 92%);
  background-image: linear-gradient(90deg, #46ca9b, #5c6bc0 50%, #ab47bc 92%);
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
